* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Regular.ttf'), format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/OpenSans-Bold.ttf'), format('ttf');
    font-weight: 700;
    font-style: normal;
}

html {
    font-size: 20px;
}

body {
    font-family: 'OpenSans', sans-serif;
    background: radial-gradient(circle, rgba(219, 158, 132, 1) 83%, rgba(6, 6, 6, 1) 97%);
}

@media screen and (max-width: 768px) {
    body {
        background: radial-gradient(circle, rgba(219, 158, 132, 1) 95%, rgba(6, 6, 6, 1) 100%);
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.noscroll {
    overflow: hidden;
}

.not-found {
    margin: 0 auto;
    font-size: 2rem;
    font-weight: 700;
    padding: 150px;
}