    .card-body-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__title {
            font-size: 1.4rem;
            line-height: 120%;
            margin-bottom: 15px;
        }
        &__year {
            font-size: 1.2rem;
            color: #6c6b6b;
            font-weight: 700;
            margin-bottom: 15px;
        }
        &__genre {
            font-size: 1.2rem;
            font-weight: 700;
            margin-bottom: 15px;
        }
        &__description {
            font-size: 1.2rem;
        }
        &__rating {
            display: inline-block;
            position: absolute;
            bottom: 30px;
            right: 30px;
            font-size: 1.2rem;
            color: rgb(18, 16, 16);
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            border-radius: 50%;
            background-color: #e82b2b;
        }
    }
    
    @media screen and (max-width: 1072px) {
        .card-body-info {
            &__title {
                font-size: 0.9rem;
            }
            &__year {
                font-size: 0.8rem;
            }
            &__genre {
                font-size: 0.8rem;
            }
            &__description {
                font-size: 0.7rem;
            }
            &__rating {
                font-size: 0.9rem;
                height: 45px;
                width: 45px;
                line-height: 45px;
            }
        }
    }
    
    @media screen and (max-width: 1072px) {
        .card-body-info {
            &__title {
                font-size: 0.9rem;
            }
            &__year {
                font-size: 0.8rem;
            }
            &__genre {
                font-size: 0.8rem;
            }
            &__description {
                font-size: 0.7rem;
            }
            &__rating {
                height: 40px;
                width: 40px;
                line-height: 40px;
            }
        }
    }
    
    @media screen and (max-width: 768px) {
        .card-body-info {
            &__title {
                font-size: 0.7rem;
            }
            &__year {
                font-size: 0.6rem;
            }
            &__genre {
                font-size: 0.6rem;
            }
            &__description {
                font-size: 0.5rem;
            }
        }
    }
    
    @media screen and (max-width: 640px) {
        .card-body-info {
            &__rating {
                font-size: 0.8rem;
                width: 35px;
                height: 35px;
                line-height: 35px;
            }
        }
    }
    
    @media screen and (max-width: 540px) {
        .card-body-info {
            &__title {
                font-size: 0.6rem;
                margin-bottom: 10px;
            }
            &__year {
                font-size: 0.5rem;
                margin-bottom: 10px;
            }
            &__genre {
                font-size: 0.5rem;
                margin-bottom: 10px;
            }
            &__description {
                font-size: 0.4rem;
            }
            &__rating {
                font-size: 0.4rem;
                height: 25px;
                width: 25px;
                line-height: 25px;
            }
        }
    }
    
    @media screen and (max-width: 450px) {
        .card-body-info {
            &__title {
                font-size: 0.3rem;
            }
            &__year {
                font-size: 0.3rem;
            }
            &__genre {
                font-size: 0.3rem;
            }
            &__description {
                font-size: 0.3rem;
            }
        }
    }