.close-button {
    position: absolute;
    top: 1px;
    right: 10px;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    color: #000;
    &:hover {
        font-size: 2rem;
    }
}

@media screen and (max-width: 1240px) {
    .close-button {
        font-size: 1.4rem;
    }
}