.header-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 360px) {
    .header-content {
        justify-content: space-between
    }
}