.hidden-card {
    display: none;
    position: fixed;
    top: 10%;
    left: 10%;
    width: 900px;
    height: 700px;
    z-index: 3;
    background-color: rgb(184, 167, 147);
}

@media screen and (max-width: 1072px) {
    .hidden-card {
        top: 20%;
        left: 20%;
        width: 750px;
        height: 600px;
    }
}

@media screen and (max-width: 1000px) {
    .hidden-card {
        top: 10%;
        left: 10%;
        width: 700px;
    }
}

@media screen and (max-width: 820px) {
    .hidden-card {
        top: 15%;
        left: 5%;
        width: 650px;
    }
}

@media screen and (max-width: 768px) {
    .hidden-card {
        top: 5%;
        left: 5%;
        width: 550px;
        height: 500px;
    }
}

@media screen and (max-width: 640px) {
    .hidden-card {
        width: 500px;
        height: 400px;
    }
}

@media screen and (max-width: 540px) {
    .hidden-card {
        top: 30%;
        width: 420px;
        height: 300px;
    }
}

@media screen and (max-width: 450px) {
    .hidden-card {
        top: 20%;
        width: 350px;
    }
}

@media screen and (max-width: 380px) {
    .hidden-card {
        width: 320px;
    }
}