.movie-item {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: 2px solid #000;
    &__img {
        margin-bottom: 15px;
    }
    &__title {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }
    &__text {
        font-size: 1rem;
    }
}

@media screen and (max-width: 1024px) {
    .movie-item {
        width: calc((100% - 6 * 10px) / 3);
        margin: 10px;
        &__img {
            margin-bottom: 10px;
        }
        &__title {
            font-size: 1rem;
        }
        &__text {
            font-size: 0.8rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .movie-item {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
        &__img {
            margin-bottom: 15px;
        }
        &__title {
            font-size: 0.8rem;
        }
        &__text {
            font-size: 0.6rem;
        }
    }
}

@media screen and (max-width: 585px) {
    .movie-item {
        width: calc((100% - 6 * 10px) / 2);
        margin: 10px;
        align-items: center;
        &__title {
            font-size: 0.5rem;
        }
        &__text {
            font-size: 0.4rem;
        }
    }
}