.title {
    font-size: 2.5rem;
    line-height: 120%;
    font-weight: 400;
    text-transform: uppercase;
}

@media screen and (max-width: 1280px) {
    .title {
        font-size: 1.8rem;
        line-height: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 1.2rem;
        font-weight: bold;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 1rem;
    }
}

@media screen and (max-width: 560px) {
    .title {
        font-size: 0.8rem;
    }
}