@import '_base';
@import '_mixins';
@import '_variables';
@import '_catalog';
@import '_container';
@import '_header-content';
@import '_header';
@import '_main-content';
@import '_movie-item';
@import '_search-button';
@import '_search-container';
@import '_title';
@import '_hidden-card';
@import '_card-body';
@import '_card-body-info';
@import '_close-button';